<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hardware.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D7592A91F8BD0EA0043C543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D7592BD1F8BD0EA0043C543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D7592C81F8BD0EA0043C543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
